# See https://help.github.com/articles/about-codeowners/
* @getoutreach/fnd-dt

## <<Stencil::Block(customCodeowners)>>
/internal/call/ @getoutreach/observability @getoutreach/fnd-dt
/internal/logf/ @getoutreach/observability @getoutreach/fnd-dt
/pkg/log/ @getoutreach/observability @getoutreach/fnd-dt
/pkg/metrics/ @getoutreach/observability @getoutreach/fnd-dt
/pkg/ometrics/ @getoutreach/observability @getoutreach/fnd-dt
/pkg/olog/ @getoutreach/observability @getoutreach/fnd-dt
/pkg/trace/ @getoutreach/observability @getoutreach/fnd-dt
## <</Stencil::Block>>
